.dashboard__area{
      margin:auto;
      text-align:center; 
      height:270px;
      margin-top: 100px;
  }
  .dashboard__area h1{
      margin-top:100px;
      margin-bottom:50px;
      font-size:70px;
      color:rgba(128, 128, 128, 0.911)
  }